//www.w3schools.com/howto/howto_css_image_grid_responsive.asp

// create an auto dev-creater for the modal / lightbox

// how to set the src for different pictures?! (line9)

// add a onclick to img so it can be shown in a lightbox or:

//https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
//https://css-tricks.com/seamless-responsive-photo-grid/
